*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body{ 
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: azure;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid{
    display:grid;
    gap: 10px;
    margin: 50px 45px;
}

.btn { 
    --hue:(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    border-radius: 5px;
    padding: 5px, 10px;
    outline: none;
    color: black;
}
.btn:hover{
    border-color: black;
}
.btn.correct{
--hue:var(--hue-correct);
}

.btn.wrong{
--hue:var(--hue-wrong)
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}
.timer {
    position: absolute;
    top: 10px;
    right: 10px;
  }

/* h1{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    margin: auto 20px 5px 20px;
    align-items: center;
} */